// Fonts
$font-family-body: "Monaco", Consolas, Lucida Console, monospace;
$font-family-mono: "Monaco", Consolas, Lucida Console, monospace;
$font-family-tt: "Monaco", Consolas, Lucida Console, monospace;
$font-size: 14px;
$line-height: 1.725;
$page-width: 48rem;
// Logo
$logo-width: 75px;
$logo-height: 75px;
$logo-grayout: true;
// Colors
$colors: "dark"; // white dark light classic
